<!DOCTYPE html>
<html lang="en" ng-app="angularChartsDemoApp"> 
   <head>
      <meta charset="utf-8">

      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
      <script src="angular-charts-0.0.4.js"></script>
      <script src="assets/app.js"></script>
      <script src="assets/ui-bootstrap-custom-tpls-0.10.0.js"></script>

      
      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>
      <link href="assets/docs.min.css" rel="stylesheet"/>
      <link href="assets/demo.css" rel="stylesheet"/>
      <link href="assets/rainbow/github.css" rel="stylesheet"/>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-44491898-2', 'auto');
        ga('send', 'pageview');

      </script>
      <title>angular-charts</title>
  </head>
   <body>

      <header class="navbar navbar-static-top bs-docs-nav" role="banner">
         <div class="container">
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
               <ul class="nav navbar-nav">
                  <li><a href="#piechart">Pie Chart</a></li>
                  <li><a href="#linechart">Line Chart</a></li>
               </ul>
            </nav>
         </div>
      </header>

      <div class="bs-docs-header">
         <div class="container">
            <h1>angular-charts</h1>
            <p>Native AngularJS SVG chart directives with no other 3rd party JS dependencies.</p>
            <h4>by <a href="https://twitter.com/crudbetter">@crudbetter</a> (<a href="http://crudbetter.com/">http://crudbetter.com/</a>)</h4>
         </div>
      </div>

      <div class="container">
         <div class="row">
            <div class="col-md-12">

               <section id="piechart">

                  <div class="page-header">
                     <h2>Pie Chart</h2>
                  </div>

                  <div class="row" ng-controller="PiechartDemoCtrl">
                     <div class="col-md-4">
                        <piechart radius="100" class="center-block">
                           <piechart-slice ng-repeat="slice in slices" value="{{slice.value}}" fill="{{slice.colour}}" stroke="white"/>
                        </piechart>
                     </div>
                     <div class="col-md-4">
                        <div class="row form-group" ng-repeat="slice in slices">
                           <input type="number" class="form-control" ng-model="slice.value"></input>
                        </div>
                        <div class="row">
                           <button type="button" class="btn btn-default" ng-click="addSlice()" ng-disabled="slices.length >= 5">Add Slice</button>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <p>
                           The <strong>piechart directive</strong> uses a default radius of 10, this can be overridden using the <code>radius</code> attribute.
                        </p>
                        <p>
                           The <strong>piechart-slice directive</strong> supports <code>ng-repeat</code>.
                        </p>
                     </div>
                  </div>

                  <div class="row code">
                     <div class="col-md-12">
                        <tabset>
                           <tab heading="Markup">
                              <pre ng-non-bindable>
                                 <code data-language="html">
&lt;piechart radius="100"&gt;
   &lt;piechart-slice ng-repeat="slice in slices" value="&#123;&#123;slice.value&#125;&#125;" fill="&#123;&#123;slice.colour&#125;&#125;" stroke="white" /&gt;
&lt;/piechart&gt;
                                 </code>
                              </pre>
                           </tab>
                           <tab heading="JavaScript">
                              <pre ng-non-bindable>
                                 <code data-language="javascript">
function PiechartDemoCtrl($scope) {
   var colours = {
      0: '#428bca',
      1: '#5cb85c',
      2: '#5bc0de',
      3: '#f0ad4e',
      4: '#d9534f'
   };

   var slices = $scope.slices = [];

   var Slice = function(val) {
      this.value = val;
      this.colour = colours[slices.length];
   ;

   $scope.slices.push(new Slice(50));
   $scope.slices.push(new Slice(200));

   $scope.addSlice = function() {
      $scope.slices.push(new Slice(10));
   };
};
                                 </code>
                              </pre>
                           </tab>
                        </tabset>
                     </div>
                  </div>

               </section>

               <section id="linechart">

                  <div class="page-header">
                     <h2>Line Chart</h2>
                  </div>

                  <div class="row" ng-controller="LinechartDemoCtrl">
                     <div class="col-md-4">
                        <linechart h="200" w="300" class="center-block">
                           <linechart-series ng-repeat="s in series" values="{{s.values}}" stroke="{{s.colour}}" stroke-width="2" fill="none"></linechart-series>
                        </linechart>
                     </div>
                     <div class="col-md-4">
                        <div class="row form-group" ng-repeat="s in series">
                           <div class="col-xs-3" ng-repeat="value in s.values track by $index">
                              <input type="number" class="form-control" ng-model="s.values[$index]"></input>
                           </div>
                        </div>
                        <div class="row">
                           <button type="button" class="btn btn-default" ng-click="addSeries()" ng-disabled="series.length >= 5">Add Series</button>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <p>
                           The <strong>linechart directive</strong> uses a default height and width of 200 and 300 respectively, this can be overridden using the <code>h</code> and <code>w</code> attributes.
                        </p>
                        <p>
                           The <strong>linechart-series directive</strong> supports <code>ng-repeat</code>.
                        </p>
                     </div>
                  </div>

                  <div class="row code">
                     <div class="col-md-12">
                        <tabset>
                           <tab heading="Markup">
                              <pre ng-non-bindable>
                                 <code data-language="html">
&lt;linechart h="200" w="300"&gt;
   &lt;linechart-series ng-repeat="s in series" values="{{s.values}}" stroke="{{s.colour}}" stroke-width="2" fill="none"&gt;&lt;/linechart-series&gt;
&lt;/linechart&gt;
                                 </code>
                              </pre>
                           </tab>
                           <tab heading="JavaScript">
                              <pre ng-non-bindable>
                                 <code data-language="javascript">
function LinechartDemoCtrl($scope) {
   var colours = {
      0: '#428bca',
      1: '#5cb85c',
      2: '#5bc0de',
      3: '#f0ad4e',
      4: '#d9534f'
   };

   var series = $scope.series = [];

   var Series = function(vals) {
      this.values = vals;
      this.colour = colours[series.length];
   };

   $scope.addSeries = function() {
      var len = series.length + 1;
      series.push(new Series([12 * len, 15 * len, 9 * len, 22 * len]));
   };

   $scope.addSeries();
   $scope.addSeries();
};
                                 </code>
                              </pre>
                           </tab>
                        </tabset>
                     </div>
                  </div>

               </section>

            </div>
         </div>
      </div>

      <script src="assets/rainbow/rainbow.js"></script>
      <script src="assets/rainbow/generic.js"></script>
      <script src="assets/rainbow/html.js"></script>
      <script src="assets/rainbow/javascript.js"></script>

   </body>
</html>
