<path ng-attr-d="M0,0L{{arc.start.x}},{{arc.start.y}}A1,1,1,0,1,{{arc.start.x}},{{arc.start.y}}Z">
  <animate ng-repeat="kf in arc.keyframes"
    attributeName="d"
    ng-attr-to="M0,0L{{arc.start.x}},{{arc.start.y}}A1,1,1,0,1,{{kf.end.x}},{{kf.end.y}}Z"
    fill="freeze"
    ng-attr-dur="{{1 / arc.keyframes.length}}s"
    ng-attr-id="{{$index}}"
    ng-attr-begin="{{$index - 1}}.end" />
  <animate
    attributeName="d"
    ng-attr-to="M0,0L{{arc.start.x}},{{arc.start.y}}A1,1,1,{{arc.large ? 1 : 0}},1,{{arc.end.x}},{{arc.end.y}}Z"
    fill="freeze"
    ng-attr-dur="{{1 / arc.keyframes.length}}s"
    ng-attr-begin="{{arc.keyframes.length}}.end" />
</path>